header {
  border-bottom: 10px double MediumPurple;
  background-color: darkcyan;
  font-size: large;
  text-align: center;
  color: white;
  padding: 15px;
  margin-bottom: 10px;
}

.blocks {
  background-color: darkcyan;
  border-top: 10px white;
  box-shadow: 5px 5px gainsboro;
  padding: 5px;
  color: white;
  margin-bottom: 10px;
  word-spacing: 25px;
  
}

.welcome {
  background-color: gainsboro;
  border-bottom: 5px double blueviolet;
  padding: 5px;
  width: 50%;
  margin-bottom: 5px;
}

article {
  background-color: gainsboro;
  border-bottom: 5px double blueviolet;
  padding: 5px;
  width: 50%;
  margin-bottom: 10px;
  
}

aside {
  width: 46%;
  padding: 10px;
  padding-bottom: 103px;
  background-color: blueviolet;
  border-left: 10px double gainsboro;
  color: white;
  position: absolute;
  top: 235px;
  right: 5px;
}

a {
color: white;
}

a:hover {
color: blue;
}

footer {
  background-color: darkcyan;
  box-shadow: 5px 5px gainsboro;
  text-align: center;
  color: white;
  padding: 10px;
  font-size: large;
}